*.py[co]

# IDE
.idea/
*.iml

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Distutils
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
